.spacer {
    margin: 60px;
}
.headerbtns {
    display: flex;

    gap: 30px;
}
#headermainBtns {
    border:none;
    background-color: inherit;
    box-shadow: none;
}

#cardscounter {
    font-size: 24px;
    border: 1px solid black;
    border-radius: 26px;
    margin: 0px;
    padding: 10px;
    background-color: #e4cbb0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    margin-left: 250px;
}

.mdtopcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mdtopcontainer h1 {
    font-size: 3.00rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;
}
.subtitle {
    font-size: 1.40rem;
    margin-top: 20px;
}

#selectDeck {
    padding: 20px;
    border: 1px solid #664435;
    border-radius: 8px;
    text-align: center;
    width: 94%;
}
.ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 80px 0;
    padding: 20px;
    border: 1px solid #664435;
    border-radius: 20px;
    color: #ecdece; 
    background-color: #865a47;
    font-size: 1.25rem;
}