.quizcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: auto;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 50px;
    width: 800px;
    background: #f8f5f1;
}

.quizcontainer p {
    color: #A67C5B;
    font-size: 1.50rem;
}
.quizcontainer h1 {
    font-size: 3.00rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;
}

#selectDeck {
    padding: 20px;
    border: 1px solid #664435;
    border-radius: 8px;
    text-align: center;
    width: 100%;
}

#quizBtn {
    margin-top: 20px;
    width: inherit;
    color: #ecdece; 
    background-color: #664435;
}
.ad {
    width: 95%;
    margin: 20px 0;
}

/* default (outline look) */
.diff-btn {
  background: transparent;
  transition: 0.2s;
}

/* individual colors */
.diff-btn.easy {
  color: #005c0f;
  border: 2px solid #005c0f;
}

.diff-btn.medium {
  color: #be8f6a;
  border: 2px solid #be8f6a;
}

.diff-btn.hard {
  color: #8b0000;
  border: 2px solid #8b0000;
}

.diff-btn.all {
  color: #664435;
  border: 2px solid #664435;
}

/* ACTIVE STATE (this is the magic) */
.diff-btn.easy.active {
  background: #005c0f;
  color: #fff;
}

.diff-btn.medium.active {
  background: #be8f6a;
  color: #000; /* lighter bg → dark text */
}

.diff-btn.hard.active {
  background: #8b0000;
  color: #fff;
}

.diff-btn.all.active {
  background: #664435;
  color: #ecdece;
}